{%extends 'base.html'%}
{%block content%}
<div class="btn-group">
  <button type="button" class="btn btn-primary">Iniciar Scanner</button>
 </div>
 <div class="btn-group">
  <button type="button" class="btn btn-primary">Digitalizar</button>
 </div>
 <div class="btn-group pull-right">
  <button type="button" class="btn btn-success">Guardar Lote</button>
</div>
<hr>
<div class="panel panel-default">
  <div class="panel-body">
	<button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
	<button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
	<button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button>
	<button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span></button>
	<button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
	
	<button type="button" class="btn btn-default navbar-btn pull-right"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
	<div>
		<div class="panel panel-default">
			<div class="panel-body">
		  
			</div>
		</div>
	</div>
  </div>
</div>
{%endblock%}